@layer utilities {
  /* ================= PRIMARY (#000000) ================= */
  .text-primary {
    color: #000000;
  }
  .text-primary-900 {
    color: #000000;
  }
  .text-primary-700 {
    color: #111111;
  }
  .text-primary-500 {
    color: #333333;
  }
  .text-primary-300 {
    color: #555555;
  }
  .text-primary-100 {
    color: #777777;
  }

  .bg-primary {
    background: #000000;
  }
  .bg-primary-900 {
    background: #000000;
  }
  .bg-primary-700 {
    background: #111111;
  }
  .bg-primary-500 {
    background: #333333;
  }
  .bg-primary-300 {
    background: #555555;
  }
  .bg-primary-100 {
    background: #777777;
  }

  /* ================= SECONDARY (#854836) ================= */
  .text-secondary {
    color: #854836;
  }
  .text-secondary-900 {
    color: #5c2f24;
  }
  .text-secondary-700 {
    color: #6e392a;
  }
  .text-secondary-500 {
    color: #854836;
  }
  .text-secondary-300 {
    color: #b87362;
  }
  .text-secondary-100 {
    color: #e5c4b7;
  }

  .bg-secondary {
    background: #854836;
  }
  .bg-secondary-900 {
    background: #5c2f24;
  }
  .bg-secondary-700 {
    background: #6e392a;
  }
  .bg-secondary-500 {
    background: #854836;
  }
  .bg-secondary-300 {
    background: #b87362;
  }
  .bg-secondary-100 {
    background: #e5c4b7;
  }

  /* ================= THIRD (#FFB22C) ================= */
  .text-third {
    color: #ffb22c;
  }
  .text-third-900 {
    color: #5e4300;
  }
  .text-third-700 {
    color: #a5750f;
  }
  .text-third-500 {
    color: #ffb22c;
  }
  .text-third-300 {
    color: #ffd680;
  }
  .text-third-100 {
    color: #fff1d0;
  }

  .bg-third {
    background: #ffb22c !important;
  }
  .bg-third-900 {
    background: #5e4300;
  }
  .bg-third-700 {
    background: #a5750f;
  }
  .bg-third-500 {
    background: #ffb22c;
  }
  .bg-third-300 {
    background: #ffd680;
  }
  .bg-third-100 {
    background: #fff1d0;
  }

  /* ================= FOURTH (#F7F7F7) ================= */
  .text-fourth {
    color: #f7f7f7;
  }
  .text-fourth-900 {
    color: #dcdcdc;
  }
  .text-fourth-700 {
    color: #e6e6e6;
  }
  .text-fourth-500 {
    color: #eeeeee;
  }
  .text-fourth-300 {
    color: #f5f5f5;
  }
  .text-fourth-100 {
    color: #fafafa;
  }

  .bg-fourth {
    background: #f7f7f7;
  }
  .bg-fourth-900 {
    background: #dcdcdc;
  }
  .bg-fourth-700 {
    background: #e6e6e6;
  }
  .bg-fourth-500 {
    background: #eeeeee;
  }
  .bg-fourth-300 {
    background: #f5f5f5;
  }
  .bg-fourth-100 {
    background: #fafafa;
  }
}
